@import 'tailwindcss';

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111113;
  color: #fafafa;
}

@font-face {
  font-family: 'Holimount';
  font-weight: 400;
  src: url('~/fonts/Holimount.otf') format('opentype');
}

@font-face {
  font-family: 'BebasNeue';
  font-weight: 400;
  src: url('~/fonts/BebasNeue-Regular.ttf');
}

@theme {
  --font-serif: 'Vollkorn', 'serif';
  --font-sans: 'Rethink Sans', sans-serif;
  --font-bebas: 'BebasNeue', sans-serif;
  --font-signature: 'Holimount', sans-serif;

  --color-accent: #1462c2;
}

.progressive-blur {
  backdrop-filter: blur(64px);
  mask-image: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0) 10%,
    rgba(250, 250, 250, 0.524324) 30%,
    rgba(250, 250, 250, 0.778248) 50%,
    rgba(250, 250, 250, 0.927378) 70%,
    #fafafa 90%
  );
}

@media screen and (min-width: 768px) {
  .progressive-blur {
    backdrop-filter: blur(64px);
    mask-image: radial-gradient(
      100% 100% at 50% 0%,
      rgba(250, 250, 250, 0) 55%,
      rgba(250, 250, 250, 0.524324) 65%,
      rgba(250, 250, 250, 0.778248) 75%,
      rgba(250, 250, 250, 0.927378) 85%,
      #fafafa 95%
    );
  }
}
